/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grey {
  background-color: #f7f7f7;
}

.text-grey {
  color: grey;
}

html, body {
  height: 100%;
}

app-root {
  min-height: 100vh;
}

.max-width {
  background-color: #fff;
  max-width: 1200px;
  margin: auto !important;
}

router-outlet {
  background-color: #fff;
}

.grey-bg {
  background-color: #fff;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
