/* You can add global styles to this file, and also import other style files */
body {
  max-width: 1200px;
  margin: auto !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  background-color: #f7f7f7;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  margin: 0;
  height: auto !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  min-height: 100vh;
}

router-outlet {
  background-color: #fff;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
