<div class="container pt-2">
<div class="border row p-4 bg-dark">
  <div class="col-4 text-center">
    <button class="btn btn-primary" (click)="navigate('admin/articles')">Gérer mes articles</button>
  </div>
  <div class="col-4 text-center">
    <button class="btn btn-primary" (click)="navigate('admin/create-article')">Écrire un nouvel article</button>
  </div>
  <div class="col-4 text-center">
    <button class="btn btn-primary" (click)="navigate('admin/profil')">Modifier mon profil</button>
  </div>
</div>
</div>



