<div class="container pt-3 row">
  <div class="offset-1 col-8 row">
    <div class="border" *ngFor="let country of countries">
      <div class="col-3">
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" alt="Photo de l'article"
             width="100%">
      </div>
      <div class="col-9 pl-2">
        <h3>country.id</h3>
        <span class="font-italic">country.area</span>
        <p>
          country.name
        </p>
      </div>
    </div>
  </div>
  <div class="col-3 text-right">
    <div>
      <h2>Réseaux Sociaux</h2>
      <p>aze</p>
      <p>aze</p>
      <p>aze</p>
      <p>aze</p>
    </div>
    <div>
      <h2>Catégories</h2>
      <p>aze</p>
      <p>aze</p>
      <p>aze</p>
      <p>aze</p>
      <p>aze</p>
      <p>aze</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <label for="pagination"></label>
  <select id="pagination" class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="20">20 résultats par page</option>
    <option [ngValue]="50">50 résultats par page</option>
    <option [ngValue]="100">100 résultats par page</option>
  </select>
</div>
