<div class="container pt-3 row">
  <div class="offset-md-1 col-md-8 col-12 row">
    <div class="border col-12 m-1 article" *ngFor="let article of articles">
      <h3 (click)="navigate(article.id)" class="h3 mb-0"><u>{{article.titre}}</u></h3>
      <span class="font-italic text-grey">{{this.articleService.getDate(article.localDate)}}</span>
      <p>{{article.synopsis}}</p>
    </div>
  </div>
  <div class="col-3 text-right disapear">
    <div>
      <h2>Réseaux Sociaux</h2>
      <p *ngFor="let social of socials">
        <a class="btn bg-dark text-white w-200px" [href]="social.split(',')[1]"
           target="_blank">{{social.split(',')[0]}}</a>
      </p>
    </div>
    <div>
      <h2>Catégories</h2>
      <p *ngFor="let category of categories">
        <button class="btn bg-dark text-white w-200px" (click)="search(category)">{{category}}</button>
      </p>
    </div>
  </div>
</div>

<div class="container" class="disapear">
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <label for="pagination"></label>
    <select id="pagination" class="custom-select" style="width: auto" [(ngModel)]="pageSize"
            (ngModelChange)="update(pageSize)">
      <option [ngValue]="20">20 résultats par page</option>
      <option [ngValue]="50">50 résultats par page</option>
      <option [ngValue]="100">100 résultats par page</option>
    </select>
  </div>
</div>
