<app-admin></app-admin>
<div class="container pt-2">
  <div class="row pt-2" *ngFor="let article of articles">
    <div class="col-8 article">
      <h3 class="h3 mb-0">{{article.titre}}</h3>
      <span class="font-italic text-grey">{{this.articleService.getDate(article.localDate)}}</span>
      <p>{{article.synopsis}}</p>
    </div>
    <div class="d-flex col-3 offset-1">
      <button class="btn btn-info" (click)="modify(article.id)">Modifier</button>
      <button class="btn btn-danger ml-2" (click)="delete(article.id)">Supprimer</button>
    </div>
    <hr class="hr col-10">
  </div>
</div>
