<app-admin></app-admin>
<div class="container pt-2">
  <div class="row pt-2">
    <div class="col-8 row">
      <div class="col-4">
        <img src="assets/wall/logo.png" alt="Photo de l'article"
             width="100%" height="100%">
      </div>
      <div class="col-8 pl-2">
        <h3>country.id</h3>
        <span class="font-italic">country.area</span>
        <p>
          country.name
        </p>
      </div>
    </div>
    <div class="d-flex col-3 offset-1">
      <button class="btn btn-info" (click)="modify(country)">Modifier</button>
      <button class="btn btn-danger ml-2" (click)="delete(country)">Supprimer</button>
    </div>
    <hr class="hr col-10">
  </div>
  <div class="row pt-2">
    <div class="col-8 row">
      <div class="col-4">
        <img src="assets/wall/logo.png" alt="Photo de l'article"
             width="100%" height="100%">
      </div>
      <div class="col-8 pl-2">
        <h3>country.id</h3>
        <span class="font-italic">country.area</span>
        <p>
          country.name
        </p>
      </div>
    </div>
    <div class="d-flex col-3 offset-1">
      <button class="btn btn-info">Modifier</button>
      <button class="btn btn-danger ml-2">Supprimer</button>
    </div>
    <hr class="hr col-10">
  </div>
  <div class="row pt-2">
    <div class="col-8 row">
      <div class="col-4">
        <img src="assets/wall/logo.png" alt="Photo de l'article"
             width="100%" height="100%">
      </div>
      <div class="col-8 pl-2">
        <h3>country.id</h3>
        <span class="font-italic">country.area</span>
        <p>
          country.name
        </p>
      </div>
    </div>
    <div class="d-flex col-3 offset-1">
      <button class="btn btn-info">Modifier</button>
      <button class="btn btn-danger ml-2">Supprimer</button>
    </div>
    <hr class="hr col-10">
  </div>
</div>
